body {
}


.view-food {
	width: 100%;
}
#list {
	width: 50%;
	padding: 0;
	margin: 0;
	float: left;
}

button {
	/*font-size: 1.2em;*/
}

#addedFood {
	width: 40%;
	float: right;
}

.results-name {
  padding: 10px 10px 0 10px;
  margin-bottom: 0;
}

.selected-food-view {
	float: right;
}

.food-result-view {
	float: left;
}

#food-result-item {
	display: block;
}

.drop-area {
	width: 350px;
    height: 70px;
    padding: 10px;
    border: 1px solid #aaaaaa;
}