* {
	box-sizing: border-box;
}
body {
}


.view-food {
	width: 100%;
}
#list {
	width: 50%;
	padding: 0;
	margin: 0;
	float: left;
	height: 400px;
	overflow: scroll;
}

button {
	font-size: 1.2em;
}

#addedFood {
	width: 40%;
	float: right;
}

.results-name {
  padding: 10px 10px 0 10px;
  margin-bottom: 0;
}

.selected-food-view {
	float: right;
	width: 50%;
	border: 1px solid black;
	height: 500px;
}

.drop-area {
	margin: 0 auto;
}

.food-result-view {
	float: left;
	width: 50%;
	border: 1px solid black;
	height: 500px;
}

#food-result-item {
	display: block;
}


.drop-area {
	width: 350px;
    height: 70px;
    padding: 10px;
    border: 1px solid #aaaaaa;
}