<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Health Tracker</title>
    <link rel="stylesheet" href="css/style.css">
  </head>
<body>
<section id="health-app">
	<header>
	<h1>Health Tracker</h1>
		<input id="search" placeholder="Search For Food" />
    <input id="clearBtn" type="button" value="clear">
	</header>

  <!-- food searched for by the user -->
  <div class="food-result-view">
  <h2>Search Results</h2>
    <table>
      <ul id="list">
    </ul>
    </table>
  </div>

  <!-- food selected by the user -->
  <div class="selected-food-view">
    <h2>Selected Food</h2>
    <table> 
      <!-- <div id="breakfast" class="drop-area" ondrop="drop(event)" ondragover="allowDrop(event)">Breakfast</div> -->
  <!--     <div id="breakfast" class="drop-area">Breakfast</div>
      <div id="lunch" class="drop-area">Lunch</div>
      <div id="dinner" class="drop-area">Dinner</div>
      <div id="snack" class="drop-area">Snacks</div>
      <div id="total">Total: </div> -->
    </table> 
  </div>

  <!-- Additional nutrition information -->
<div class="additional-nutrition-view">
  <h1>Additional Nutirional Information</h1>
<!--     <table>
      <td>
      <tr>
        <th>Calories</th>
        <th>Fat Calories</th>
        <th>Total Fat</th>
        <th>Saturated Fat</th>
        <th>Trans Fat</th>
        <th>Cholestoral</th>
        <th>Sodium</th>
        <th>Total Carb</th>
        <th>Dietary Fiber</th>
        <th>Sugar</th>
        <th>Protein</th>
      </tr>
      <br>
      <br>
      <tr>
        <th>Vitamin A</th>
        <th>Calcium</th>
      </tr>
      <tr>
        <th>Vitamin C</th>
        <th>Iron</th>
      </tr>
      </td>
    </table> -->
</div>


</section>


<!-- Search results template -->
<script type="text/template" id="search-results-template">
<td>
    <p>
      <%= name %> 
      <%= brand_name %> 
      <%= calories %> 
    </p>
 </td>
</script>


<!-- Selected food template -->
<script type="text/template" id="selected-food-template">
<td>
  <%= name %>
  <%= brand_name %>

</td>
  
</script>


<!-- Additional food template -->
<script type="text/template" id="additional-nutrition-info-template">
  <table>
    <td>
    <tr>
      <th>Calories</th>
      <!-- <th>Fat Calories</th> -->
      <th>Total Fat</th>
      <!-- <th>Saturated Fat</th> -->
      <!-- <th>Trans Fat</th> -->
      <th>Cholestoral</th>
      <th>Sodium</th>
      <th>Total Carb</th>
      <!-- <th>Dietary Fiber</th> -->
      <!-- <th>Sugar</th> -->
      <th>Protein</th>
    </tr>
    <tr>
      
    </tr>
    <br>
    <tr>
      <th>Vitamin A</th>
      <th>Calcium</th>
    </tr>
    <tr>
      <th>Vitamin C</th>
      <th>Iron</th>
    </tr>
    </td>
  </table></script>

<script src="js/lib/jquery-3.2.1.min.js"></script>
<script src="js/lib/underscore-min.js"></script>
<script src="js/lib/backbone-min.js"></script>
<script src="js/lib/backbone.localStorage.js"></script>
<script src="js/lib/backbone.firebase.js"></script>

<script src="js/models/FoodModel.js"></script>
<script src="js/collections/selectedCollection.js"></script>
<script src="js/collections/resultCollection.js"></script>




<script src="js/views/selectedFoodView.js"></script>
<script src="js/views/searchResultView.js"></script>
<script src="js/views/breakfastView.js"></script>
<script src="js/views/lunchView.js"></script>
<script src="js/views/dinnerView.js"></script>
<script src="js/views/snackView.js"></script>
<script src="js/views/appView.js"></script>

<script src="js/app.js"></script>
  </body>
</html>
